.message-content a {
  color: #1890D3;
}

.hover-parent .hover-content {
  visibility: hidden;
}

.hover-content {
  visibility: hidden;
}

.hover-parent:hover .hover-content {
  visibility: visible;
}

@media (max-width: 700px) {
  .hover-parent .hover-content {
    top: 0;
    display: none;
  }
  
  .hover-content {
    display: none;
  }
  
  .hover-parent:hover .hover-content {
    display: flex;
  }
}